
#site-header {
    height: 70px !important;
}


#tl-wrapper {
    
    all: initial;
    span {
	word-break: initial;
    }

    #tl-scrollable {
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        width: 100%;
        position: absolute;

        .tl-type-line {
            flex-grow: 1;
            z-index: 0;

            transition: 0.5s;

            .tl-type-tag {
                position: fixed;
                background-color: rgba(255, 255, 255, 0.8);
                padding: 5px 20px 5px 20px;
                z-index: 3;
            }

            .tl-type-day {
                margin-top: 20px;
                pointer-events: none;
                position: absolute;
                overflow-y: scroll;

                .tl-doc-wrapper {
                    background-color: rgba(0, 0, 0, 0.5);
                    color: white;
                    margin: 10px;
                    height: auto !important;
                    display: flex;
                    flex-direction: column;

                    img {
                        width: 100%;
                        max-height: 200px;
                        object-fit: cover;
                    }

                    .tl-doc-info {
                        padding: 10px;
                        display: flex;
                        flex-direction: column;

                        button {
			    border: none;
			    background-color: rgba(0, 0, 0, 0.5);
			    color: white;
			    padding: 5px 20px 5px 20px;
                        }
                    }
                }
            }
        }

        #tl-dates-line {
            height: 50px;
            background-color: #555;
            h3 {
		font-size: 20px;
                margin: 0px;
                position: absolute;
                text-align: center;
                color: white;
            }
        }

        #tl-docs-line {
            .tl-day-wrapper {
                height: 100%;
                position: absolute;
                display: flex;
                flex-direction: column;

                .tl-type-wrapper {
                    flex-grow: 1;
                }

                h3 {
                    position: absolute;
                    width: 100%;
                    height: 50px;
                    text-align: center;
                }

                .tl-doc {
                    position: absolute;
                    margin: 10px;
                    padding: 10px;
                }
            }
        }
    }

    #tl-draggable-line {
        overflow-x: hidden;
        height: 100px;
        width: 100%;
        position: absolute;
        background-color: #eee;
        padding-top: 20px;

        #tl-canvas {
            position: absolute;
        }

        #tl-draggable {
            position: absolute;
            cursor: move;
            height: 50px;
            width: 50px;
            background-color: transparent;
            border: 2px solid #666;
            border-radius: 8px;
        }

        span {
            position: absolute;
        }
    }
}
