$color: #623;

#tl-wrapper {

    #tl-scrollable {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	width: 100%;
	position: absolute;

	#tl-docs-line {
	    .tl-day-wrapper {
		position: absolute;
		
		h3 {
		    position: absolute;
		    width: 100%;
		    text-align: center;
		}

		.tl-doc {
		    margin: 10px;
		    padding: 10px;
		}
	    }
	}
    }

    #tl-draggable-line {
	overflow-x: hidden;
	height: 100px;
	width: 100%;
	position: absolute;
	background-color: #eee;
	padding-top: 20px;

	#tl-canvas {
	    position: absolute;
	}

	#tl-draggable {
	    position: absolute;
	    cursor: move;
	    height: 50px;
	    width: 50px;
	    background-color: transparent;
	    border: 2px solid #666;
	    border-radius: 8px;
	}

	span {
	    position: absolute;
	}
    }
}
